/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #ffebee; /* Light pink background color */
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #ffebee;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    float: left;
}

header h2 {
    float: left;
}

nav ul {
    float: right;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffc107; /* Change to your preferred hover color */
}

section {
    padding: 20px 0;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #ed719e;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f9d3e0; /* Lighter shade of hover color */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
